// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.profile li:hover {
	padding-left: 50px;
}

.page-header .right {
	float: right;
	margin-top: 5px;
}
