// Place all the styles related to the statuses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.status-container{
	list-style:none;
	padding: 0;
}

.status-container .status {
	//padding-bottom: 25px;
	margin-bottom: 15px;
	border: solid 1px #e7e7e7;
	-webkit-transition: margin 0.7s ease-in;
	transition: margin 0.7s;
}

.status-container .status:hover {
	margin-left: 30px;
}

.status-container .status .admin {
	display: none;
}

.status-container .status:hover .admin {
	display: inline;
}

.status-container .content {
	font-size: 150%;
}

.status-container .status:hover a {
	color: #000;
	text-decoration: none;
}

.status .data,
.status .admin{
	padding-top: 10px;
	padding-left: 10px;
}

.new-status {
	float: right;
}

.new-status:visited{
	color: #fff;
}

.page-header h1 {
	display: inline;
}
